{% extends "base.html" %}

{% block body %}
  <div class="homeempty">
    <h1>Welcome to Social Cookbook</h1>
    <p>Social Cookbook enables you to store your recipes online, and it makes
      it easy to share your recipes with your friends and family and see the
      recipes your friends and family are cooking. When you add a recipe to
      your cookbook, your friends will also be able to see it, and they can
      clip the recipe into their own cookbooks. Likewise, you can add any of
      your friends' recipes to your own cookbook with a single click.</p>
    <p>It looks like you are the first of your friends to join the site,
      so we don't have any recipes to suggest to you right now.</p>
    <p>To get started, click the button below to add a recipe to your cookbook.
      It will be shared on your Facebook profile, and when your friends join
      the site, they will automatically see the recipe, and you can start
      sharing recipes with each other.</p>
    <p>Happy cooking!</p>
    <div style="padding-top:20px; padding-bottom:10px">
      <a href="/edit" class="button">Add a new recipe</a>
    </div>
  </div>
{% end %}
